@import "tailwindcss";

@theme {
  --color-custom-main: #121002;
  --color-custom-secend: #fffdff;
  --color-custom-addition: #5fe19b;
  --color-custom-addition-2: #036a55;
}

:root {
  --background: #121002;
  --foreground: #f1f1f1;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .animate-fade-up {
    animation: fadeUp 0.8s ease-out forwards; /* forwards zatrzymuje element na końcu */
    opacity: 0; /* Domyślnie niewidoczne */
    transform: translateY(20px);
  }

  /* Opóźnienia */
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-500 {
    animation-delay: 500ms;
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
