@import "tailwindcss";

@theme {
  --color-custom-main: #121002;
  --color-custom-secend: #fffdff;
  --color-custom-addition: #5fe19b;
  --color-custom-addition-2: #036a55;
}

:root {
  --background: #121002;
  --foreground: #f1f1f1;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}
